USE [InterviewAppDb]
GO
/****** Object:  Table [dbo].[CandidateAnswers]    Script Date: 25-03-2026 00:25:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CandidateAnswers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CandidateId] [int] NOT NULL,
	[QuestionId] [int] NOT NULL,
	[AnswerText] [nvarchar](max) NOT NULL,
	[SubmittedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Candidates]    Script Date: 25-03-2026 00:25:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Candidates](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TrackId] [int] NOT NULL,
	[FullName] [nvarchar](150) NOT NULL,
	[Email] [nvarchar](200) NOT NULL,
	[PasswordHash] [nvarchar](256) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[IsAdmin] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Questions]    Script Date: 25-03-2026 00:25:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Questions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TopicId] [int] NOT NULL,
	[QuestionText] [nvarchar](2000) NOT NULL,
	[HintText] [nvarchar](500) NULL,
	[OrderIndex] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Topics]    Script Date: 25-03-2026 00:25:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Topics](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TrackId] [int] NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[SortOrder] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tracks]    Script Date: 25-03-2026 00:25:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tracks](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Slug] [nvarchar](60) NOT NULL,
	[Description] [nvarchar](500) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CandidateAnswers] ON 

INSERT [dbo].[CandidateAnswers] ([Id], [CandidateId], [QuestionId], [AnswerText], [SubmittedAt]) VALUES (3, 5, 3, N'Method Overloading is compile-time polymorphism where the same method name has different parameter lists in the same class. e.g. add(int a, int b) and add(double a, double b).
Method Overriding is runtime polymorphism where a subclass provides its own implementation of a method already defined in the parent class. The method signature must be the same. @Override annotation is used.', CAST(N'2026-03-24T13:48:46.2133333' AS DateTime2))
SET IDENTITY_INSERT [dbo].[CandidateAnswers] OFF
GO
SET IDENTITY_INSERT [dbo].[Candidates] ON 

INSERT [dbo].[Candidates] ([Id], [TrackId], [FullName], [Email], [PasswordHash], [Phone], [IsActive], [CreatedAt], [IsAdmin]) VALUES (1, 1, N'Admin User', N'admin@edrushti.com', N'$2a$11$Nl1uXq1m342FoRBLhNE9XuHY2VkHrwD0/NbUsShZUenM/1J5Ynq16', N'+91 98000 00001', 1, CAST(N'2026-03-24T13:48:46.2066667' AS DateTime2), 1)
INSERT [dbo].[Candidates] ([Id], [TrackId], [FullName], [Email], [PasswordHash], [Phone], [IsActive], [CreatedAt], [IsAdmin]) VALUES (2, 1, N'Ravi Kumar', N'ravi.kumar@example.com', N'$2a$11$Nl1uXq1m342FoRBLhNE9XuHY2VkHrwD0/NbUsShZUenM/1J5Ynq16', N'+91 98100 11001', 1, CAST(N'2026-03-24T13:48:46.2066667' AS DateTime2), 0)
INSERT [dbo].[Candidates] ([Id], [TrackId], [FullName], [Email], [PasswordHash], [Phone], [IsActive], [CreatedAt], [IsAdmin]) VALUES (3, 2, N'Priya Sharma', N'priya.sharma@example.com', N'$2a$11$Nl1uXq1m342FoRBLhNE9XuHY2VkHrwD0/NbUsShZUenM/1J5Ynq16', N'+91 98200 22002', 1, CAST(N'2026-03-24T13:48:46.2066667' AS DateTime2), 0)
SET IDENTITY_INSERT [dbo].[Candidates] OFF
GO
SET IDENTITY_INSERT [dbo].[Questions] ON 

INSERT [dbo].[Questions] ([Id], [TopicId], [QuestionText], [HintText], [OrderIndex], [IsActive], [CreatedAt]) VALUES (1, 1, N'Explain the 4 pillars of OOP with Java examples.', N'Think: Encapsulation, Inheritance, Polymorphism, Abstraction', 1, 1, CAST(N'2026-03-24T13:48:46.2000000' AS DateTime2))
INSERT [dbo].[Questions] ([Id], [TopicId], [QuestionText], [HintText], [OrderIndex], [IsActive], [CreatedAt]) VALUES (2, 1, N'What is the difference between an abstract class and an interface in Java?', N'Consider: multiple inheritance, default methods (Java 8+)', 2, 1, CAST(N'2026-03-24T13:48:46.2000000' AS DateTime2))
INSERT [dbo].[Questions] ([Id], [TopicId], [QuestionText], [HintText], [OrderIndex], [IsActive], [CreatedAt]) VALUES (3, 1, N'What is method overloading vs method overriding?', N'Compile-time vs runtime polymorphism', 3, 1, CAST(N'2026-03-24T13:48:46.2000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Questions] OFF
GO
SET IDENTITY_INSERT [dbo].[Topics] ON 

INSERT [dbo].[Topics] ([Id], [TrackId], [Name], [SortOrder]) VALUES (1, 1, N'OOP', 1)
INSERT [dbo].[Topics] ([Id], [TrackId], [Name], [SortOrder]) VALUES (2, 1, N'Collections', 2)
INSERT [dbo].[Topics] ([Id], [TrackId], [Name], [SortOrder]) VALUES (3, 1, N'JVM & Memory', 3)
SET IDENTITY_INSERT [dbo].[Topics] OFF
GO
SET IDENTITY_INSERT [dbo].[Tracks] ON 

INSERT [dbo].[Tracks] ([Id], [Name], [Slug], [Description], [IsActive], [CreatedAt]) VALUES (1, N'Java', N'java', N'Core Java, Spring Boot, JVM internals', 1, CAST(N'2026-03-24T13:48:46.1766667' AS DateTime2))
INSERT [dbo].[Tracks] ([Id], [Name], [Slug], [Description], [IsActive], [CreatedAt]) VALUES (2, N'.NET', N'dotnet', N'C#, ASP.NET Core, Entity Framework, LINQ', 1, CAST(N'2026-03-24T13:48:46.1766667' AS DateTime2))
INSERT [dbo].[Tracks] ([Id], [Name], [Slug], [Description], [IsActive], [CreatedAt]) VALUES (3, N'QA', N'qa', N'Testing strategies, Selenium, API testing', 1, CAST(N'2026-03-24T13:48:46.1766667' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Tracks] OFF
GO
/****** Object:  Index [UQ_Answer_Candidate_Question]    Script Date: 25-03-2026 00:25:33 ******/
ALTER TABLE [dbo].[CandidateAnswers] ADD  CONSTRAINT [UQ_Answer_Candidate_Question] UNIQUE NONCLUSTERED 
(
	[CandidateId] ASC,
	[QuestionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Candidates_Email]    Script Date: 25-03-2026 00:25:33 ******/
ALTER TABLE [dbo].[Candidates] ADD  CONSTRAINT [UQ_Candidates_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Tracks_Slug]    Script Date: 25-03-2026 00:25:33 ******/
ALTER TABLE [dbo].[Tracks] ADD  CONSTRAINT [UQ_Tracks_Slug] UNIQUE NONCLUSTERED 
(
	[Slug] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CandidateAnswers] ADD  DEFAULT (getutcdate()) FOR [SubmittedAt]
GO
ALTER TABLE [dbo].[Candidates] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Candidates] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Candidates] ADD  DEFAULT ((0)) FOR [IsAdmin]
GO
ALTER TABLE [dbo].[Questions] ADD  DEFAULT ((0)) FOR [OrderIndex]
GO
ALTER TABLE [dbo].[Questions] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Questions] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Topics] ADD  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[Tracks] ADD  DEFAULT ('') FOR [Description]
GO
ALTER TABLE [dbo].[Tracks] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Tracks] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[CandidateAnswers]  WITH NOCHECK ADD FOREIGN KEY([CandidateId])
REFERENCES [dbo].[Candidates] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CandidateAnswers]  WITH NOCHECK ADD FOREIGN KEY([QuestionId])
REFERENCES [dbo].[Questions] ([Id])
GO
ALTER TABLE [dbo].[Candidates]  WITH NOCHECK ADD FOREIGN KEY([TrackId])
REFERENCES [dbo].[Tracks] ([Id])
GO
ALTER TABLE [dbo].[Questions]  WITH NOCHECK ADD FOREIGN KEY([TopicId])
REFERENCES [dbo].[Topics] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Topics]  WITH NOCHECK ADD FOREIGN KEY([TrackId])
REFERENCES [dbo].[Tracks] ([Id])
ON DELETE CASCADE
GO
